CSE445_Assignment5/Service References/WeatherService/WeatherService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar26.fulton.asu.edu/page0/WeatherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HealthService" />
  <xs:element name="getCurrentCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HealthService" minOccurs="0" name="getCurrentConditionResult" nillable="true" type="q1:Conditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getForeCast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getForeCastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HealthService" minOccurs="0" name="getForeCastResult" nillable="true" type="q2:ArrayOfConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>