CSE445_Assignment5/Service References/WeatherService/WeatherService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HealthService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HealthService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Conditions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Condition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DayOfWeek" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="High" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Low" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TempF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conditions" nillable="true" type="tns:Conditions" />
  <xs:complexType name="ArrayOfConditions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Conditions" nillable="true" type="tns:Conditions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConditions" nillable="true" type="tns:ArrayOfConditions" />
</xs:schema>